<div class="card">
    <div class="card-header bg-primary">
        <h2>
            pipe component
        </h2>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header bg-secondary">
                <h3>
                    custom pipe : square root
                </h3>
            </div>
            <div class="card-body">
                <p>square root of {{ val }} is : {{ val | sqrtPipe }}</p>
            </div>
        </div>
    </div>
</div>
