<div class="card">
    <div class="card-header bg-primary">
        <h2>
            register a new user
        </h2>
    </div>
    <div class="card-body">
        <div class="col-md-6">
            <div *ngIf="regitrationMsg" class="alert alert-danger">
                {{regitrationMsg}}
            </div>
            <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
                <div class="form-group">
                    <label class="control-label">name</label>
                    <input type="text" name="name" ngModel required class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">pass</label>
                    <input type="password" name="pass" ngModel required class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">pass confirmation</label>
                    <input type="password" name="passConfirm" ngModel required class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">role</label>
                    <select name="roles" ngModel class="form-control">
                        <option value="reader">reader</option>
                        <option value="writer">writer</option>
                        <option value="admin">admin</option>
                    </select>                                
                </div>
                <button type="submit" [disabled]="!f.valid" class="btn btn-secondary">register</button>
            </form>
        </div>
    </div>
</div>